* {
	margin: 0;
	padding: 0;

	/* font */
	font-family: 'DNFBitBitv2', sans-serif;

	/* cursor */
	cursor: url('@/assets/img/app/pointer.png') 5 5, auto;
}

/* 1. 던파 비트비트체 v2 */
@font-face {
	font-family: 'DNFBitBitv2';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}

/* 2. PF스타더스트체 */
@font-face {
	font-family: 'PFStardust';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.page {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 700px;
}

.container {
	height: 87%;
	display: flex;
	justify-content: center;
	align-items: center;
}
